bcrypt==3.1.7
blinker==1.5
cffi==1.15.1
click==7.1.2
cryptography==3.3.2
Flask==1.1.4
Flask-Cors==4.0.0
greenlet==2.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.0.0rc5
marshmallow-sqlalchemy==0.29.0
packaging==23.1
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-dotenv==1.0.0
SQLAlchemy==2.0.19
typing_extensions==4.7.1
Werkzeug==2.3.6
